*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #E7EDF4;
}

header{
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
    max-width: 1298px;
    width: 100%;
}

header .navbar{
    display: inline-flex;
    align-items: center;
    gap: 22px;
    justify-content: right;
    margin-right: 35px;
    flex:1;
}

header .navbar .nav-link{
    color: #020F20;
    font-family: Parsi;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    text-transform: uppercase;
    text-decoration: none;
}

header .langselection{
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 5px;
    border: 1px solid #C2D8F4;
    background: #E7EDF4;

}

header .langselection p{
    color: #020F20;
    font-family: Parsi;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
}

.hero{
    display: flex;
}


.hero .heroparent{
    display: inline-flex;
    padding: 84px 50px 107px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    border-radius: 10px;
    max-width: 752px;
    width: 100%;
}

.hero .heroparent .herochild{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    width: 100%;
}

.hero .heroparent .herochild .herograndchild{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.hero .heroparent .heroh1{
    color:  #020F20;;
    font-family: Parsi;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 58px */
    text-transform: uppercase;
    max-width: 642px;
    width: 100%;
}

.hero .heroparent .heroh1 span{
    color: #2C83F6;
}

.herop{
    color: #020F20;
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    max-width: 612px;
    width: 100%;
}

.hero .heroparent .herobttns{
    display: flex;
    align-items: center;
    gap: 13px;
}

.hero .heroparent .herobttns .button1{
    display: flex;
    padding: 17px 20px 17px 25px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 5px;
    background: #2C83F6;
    color: #EFF2F6;
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    text-transform: uppercase;
    border: none;
}

.hero .heroparent .herobttns .button2{
    display: flex;
    padding: 17px 20px 17px 25px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 5px;
    background: #FFF;
    color: #2C83F6;
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    text-transform: uppercase;
    border: none;
}

.hero .heroimg{
    display: flex;
    padding: 70px 0px 71px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #E7EDF4;
}


